﻿<div class="p-4">
    <div class="container">
        <h1 class='text-center'> Hi {{user.firstName}}!</h1>
        <p class='text-center'>Here are your contacts</p>
        <!-- <p><a routerLink="/users">Manage Users</a></p> -->
    </div>
    <div class="center-block">
        <clr-datagrid [(clrDgSelected)]="selected">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <a routerLink="add" class="btn btn-sm btn-secondary">Add</a>
                    <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" *ngIf="selected.length">
                        <clr-icon shape="close"></clr-icon> Delete
                    </button>
                    <a routerLink="edit/{{selected[0].id}}" class="btn btn-sm btn-secondary"
                        *ngIf="selected.length == 1">
                        <clr-icon shape="pencil"></clr-icon> Edit
                    </a>
                </div>
            </clr-dg-action-bar>
            <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
            <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'patronymic'">Patronymic</clr-dg-column>
            <clr-dg-column [clrDgField]="'organization'">Organization</clr-dg-column>
            <clr-dg-column [clrDgField]="'position'">Position</clr-dg-column>
            <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
            <clr-dg-column [clrDgField]="'phone'">Phone</clr-dg-column>
            <clr-dg-column [clrDgField]="'deleted'" *ngIf="user.isAdmin">Deleted</clr-dg-column>
            <clr-dg-column [clrDgField]="'userId'" *ngIf="user.isAdmin">User ID</clr-dg-column>

            <clr-dg-row *clrDgItems="let contact of contacts" [clrDgItem]="contact">
                <clr-dg-cell>{{contact.id}}</clr-dg-cell>
                <clr-dg-cell>{{contact.lastName}}</clr-dg-cell>
                <clr-dg-cell>{{contact.firstName}}</clr-dg-cell>
                <clr-dg-cell>{{contact.patronymic}}</clr-dg-cell>
                <clr-dg-cell>{{contact.organization}}</clr-dg-cell>
                <clr-dg-cell>{{contact.position}}</clr-dg-cell>
                <clr-dg-cell>{{contact.email}}</clr-dg-cell>
                <clr-dg-cell>{{contact.phone}}</clr-dg-cell>
                <clr-dg-cell *ngIf="user.isAdmin">{{contact.deleted}}</clr-dg-cell>
                <clr-dg-cell *ngIf="user.isAdmin">{{contact.userId}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>